.hero {
	background-image: url(/images/background-kofe.webp);
	background-position: top center;
}
.services {
	background-image: url(/images/background-kofe-2.webp);
	background-position: top center;
}
