.hero {
	background-image: url(/images/background-mnch.webp);
	background-position: right center;
}
.services {
	background-image: url(/images/background-mnch2.webp);
	background-position: right center;
}
