.hero {
	background-image: url(/images/background-stir.webp);
	background-position: top center;
}
.services {
	background-image: url(/images/background-stir-2.webp);
	background-position: top center;
}
