.hero {
	background-image: url(/images/background-print.webp);
	background-position: right center;
}
.services {
	background-image: url(/images/background-print2.webp);
	background-position: right center;
}
